html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
h1 {
	color: chartreuse;
}

h2 {
	color: #1460AA;
}

section {
	background: grey;
}

body {
	background: darkgray;
	color: #112d49;
}
.abaut-me {
	color:antiquewhite;
	background: #d8dce0;
}
.note-h3 {
	color: brown;
}
.note-h4 {
	color: darkred;
}
.note-header {
	background: lightgray;
}
.navigation {
	background: lightblue;
	padding:20px;
	
}
.navigation__link {
	color: rgb(190, 179, 18);
	text-decoration: none;
	font-size: 10px;
	margin-right: 20px;
}